# Database URL for Prisma with SQLite adapter
DATABASE_URL="file:./dev.db"
JWT_SECRET=hw4_access_secret_super_long_key_change_in_prod
JWT_REFRESH_SECRET=hw4_refresh_secret_another_long_key_change_in_prod
PORT=3000